/* CardsItems.css */
.card-item {
  margin: 20px; /* Espacio alrededor de cada tarjeta */
}

/* Si deseas agregar espacio entre las tarjetas, puedes hacerlo aquí */
/* Por ejemplo, si estás usando flexbox o grid, puedes ajustar el gap */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Ajusta el espacio entre las tarjetas */
  gap: 10px; /* Espacio entre las tarjetas */
}
