.login {
  border: 2px solid #ed413b;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 7px 8px rgba(44, 14, 14, 0.1);
  max-width: 500px;
  margin: 0 auto;
  margin-top: 200px;
}

h1 {
  text-align: center;
}
