/* Home.css */
.target {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card,
.expire {
  flex: 1 0 30%; /* Esto significa que cada tarjeta ocupará al menos el 30% del ancho disponible */
  margin-bottom: 20px; /* Espacio entre las tarjetas */
}

/* Para dispositivos más pequeños, ajusta el tamaño de las tarjetas */
@media (max-width: 768px) {
  .card,
  .expire {
    flex: 1 0 45%; /* En pantallas más pequeñas, cada tarjeta ocupará al menos el 45% del ancho disponible */
  }
}
