/* Home.css */
.target {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en nuevas líneas */
  justify-content: space-between; /* Asegura que haya espacio entre las columnas */
}

.card,
.expire {
  flex: 1 0 calc(50% - 10px); /* Cada elemento ocupa al menos la mitad del ancho disponible, menos 10px para el margen */
  margin-bottom: 20px; /* Espacio entre las filas */
  margin-right: 5px; /* Espacio entre las columnas */
}

/* Para el último elemento en cada fila */
.card:last-child,
.expire:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento en cada fila */
}
